body {
    padding-bottom: 100px; 
    background-color:#ADC5CF;
}
.header {
    background-color: #17a2b8;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.logo {
    max-width: 100px;
}

div{
    color: #026270;
    justify-content: center;
    text-align: center;
    
}

h4:hover{
    color: #264146;
    text-shadow: #fff 2px 2px 2px 2px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;}